<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{ title }} | {% endif %}AcoustID</title> 
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,600">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/css/bootstrap.min.css">
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='acoustid.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<!--<script type="text/javascript"> 
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18981078-1']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
	</script> -->
</head> 
<body>

{% if show_maintenace_banner %}
  <div class="maintenance-header">
    <div class="container">
      <p>
        AcoustID is currently in read-only mode for maintenance.
      </p>
    </div>
  </div>
{% endif %}

{% if show_donate_banner %}
  <div class="donate-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <p>
            Dear users &mdash;
            AcoustID provides free service to a number of open source applications.
            If you are using such an application and find AcoustID useful, please consider donating a
            small amount, to keep it running smoothly and stay free.
            <i>Thank you.</i>
          </p>
        </div>
        <div class="col-md-2">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="RRBS25ADWPK2E">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="{{ url_for('general.index') }}" title="AcoustID">
            <img src="{{ url_for('static', filename='acoustid.svg') }}" alt="AcoustID">
          </a>
          <small>open source audio identification</small>
        </div>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('general.applications') }}">Applications</a></li>
          <li><a href="{{ url_for('stats.stats') }}">Statistics</a></li>
          <li><a href="{{ url_for('general.docs') }}">Documentation</a></li>
          <li><a href="{{ url_for('general.donate') }}">Donate</a></li>
          {% if account_id %}
          <li><a href="{{ url_for('user.logout') }}">Sign out</a></li>
          {% else %}
          <li><a href="{{ url_for('user.login') }}">Sign in</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

	<div class="container"> 

    <div class="content">
      {% block content %}{% endblock %}
    </div>

	</div> 

	<div class="footer">
    <div class="container">
      <p class="text-muted">Software created and hosted by <a href="https://oxygene.sk/">Lukáš Lalinský</a>, data crowd-sourced by <a href="{{ url_for('stats.stats') }}">thousands of contributors</a>.</p>
      <p class="text-muted">
        <a href="{{ url_for('general.contact') }}">Contact</a> |
        <a href="https://oxygene.sk/category/acoustid/">Blog</a> |
        <a href="https://twitter.com/acoustid">Twitter</a> |
        <a href="https://www.facebook.com/acoustid">Facebook</a>
      </p>
    </div>
	</div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/{{ jquery_version }}/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/{{ bootstrap_version }}/js/bootstrap.min.js"></script>
  {% block extra_js %}{% endblock %}

</body> 
</html> 
 
